<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Compras</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Carrito de Compras</ion-card-title>
      <ion-card-subtitle>Detalle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <!-- Display the list of episodes -->
      <app-episodio-list></app-episodio-list>
    </ion-card-content>
  </ion-card>
</ion-content>
